name: Publish

on:
  push:
    tags: [v*]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: setup bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version: 1.3.3
      - name: setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.0.1
        with:
          node-version-file: '.tool-versions'
      - name: update npm
        run: npm i -g npm
      - name: install dependencies
        run: bun install
      - name: build
        run: bun run build
      - name: publish to npm
        run: npm publish
